.searchInput {
  display: inline-flex;
  background: var(--gray);
  border-radius: 5px;
  padding: 0;
  height: 3rem;
  width: 100%;
  position: relative;
}

.searchInput_input {
  background: var(--gray);
  border: none;
  flex-grow: 2;
  padding-left: 0.5rem;
  z-index: 2;
}

.searchInput_button {
  background: var(--gray);
  border: none;
  z-index: 2;
  padding: 0 0.5rem;
}

.searchInput_searchSuggestions {
  background-color: var(--gray);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0.25rem 0.25rem 0.5rem;
  list-style-type: none;
  z-index: 1;
  border-radius: var(--border-radius);
}

.searchInput_searchSuggestions > li {
  padding: 0.125rem 0;
}
