.search {
  position: relative;
}

.search__form {
  display: flex;
  flex-flow: row nowrap;
  background: var(--gray);
  border-radius: var(--border-radius);
  padding: 0;
  height: 3rem;
  width: 100%;
}

.search__form__input {
  background: var(--gray);
  border: none;
  flex-grow: 2;
  padding-left: 0.5rem;
  z-index: 2;
}

.search__form__button {
  background: var(--gray);
  border: none;
  z-index: 2;
  padding: 0 0.5rem;
}

.search__searchSuggestions {
  background-color: var(--gray);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0.25rem 0.5rem 0.5rem;
  list-style-type: none;
  z-index: 1;
  border-radius: var(--border-radius);
}

.search__searchSuggestions > li {
  padding: 0.25rem 0;
}

.search__searchSuggestions__item:hover {
  text-decoration: underline;
  cursor: pointer;
}
