# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
ui/.next/
ui/out/

# production
ui/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# notes file
notes.md

# api build directory
build