.card {
  width: 100%; /* will likely change */
  border-radius: 10px;
  background: var(--card-gray);
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
}
.card.unpadded {
  padding: 0;
}

@media (prefers-color-scheme: light) {
  .card {
    border: 1px solid var(--gray);
    background: var(--white);
  }
}
