/*  mimicking the card styles */
.inputComponent {
  margin: 0.5rem 0;
}
.inputComponent input {
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  background: var(--card-gray);
}

@media (prefers-color-scheme: light) {
  .inputComponent input {
    border: 1px solid var(--gray);
    background: var(--white);
  }
}
