/* /companies page */
.companiesContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

@media only screen and (min-width: 25em /* medium */) {
  .companyCard {
    max-width: 20rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .companyCard:first-of-type {
    margin-left: 0;
  }

  .companyCard:last-of-type {
    margin-right: 0;
  }
}

/* /[username] */
.company {
}

.company_header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0.5rem 0;
  width: 100%;
}

.company_header_left {
  display: flex;
  align-items: center;
}

.company_header h1 {
  margin: 0 0.5rem;
}

.company_job {
  margin: 0.25rem 0;
}

.company_job:hover {
  color: var(--primary);
}

.company_info > div {
  margin: 0.5rem 0;
}
