.button {
  background: var(--primary);
  border: 1px solid var(--primary-light);
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
}

.button:disabled {
  background: var(--gray);
  border-color: var(--gray);
  cursor: not-allowed;
}
