.button {
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
}

.button:hover {
  background: var(--primary-light);
}

.button:disabled {
  background: var(--gray);
  color: var(--gray);
  cursor: not-allowed;
}
