.button {
  background: var(--primary);
  border: none;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
}

.button:disabled {
  background: var(--dark-gray);
  cursor: not-allowed;
}
