.listItem {
  width: 100%;
  padding: 0.75rem 0.75rem 0 0.75rem;
  border-radius: 10px;
}

.listItem:hover {
  background: var(--dark-gray);
}

.listItem hr {
  /* divider line */
  margin: 0.5rem 0 0 0;
  border: 0;
  height: 1px;
  background: var(--dark-gray);
}

.listItem_newJobs {
  margin-top: 0.5rem;
}

/* list item header */
.listItem_header {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem 0;
}

.listItem_header_image {
  margin-right: 0.5rem;
}
