.search {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: 2.75rem;
  margin-bottom: 0.5rem;
}

.search_bar {
  width: 100%;
  margin-right: 0.5rem;
  height: 100%;
  position: relative;
}

.search_bar input {
  z-index: 2;
  position: relative;
  color: var(--white);
}

.search_bar .dropdown {
  position: absolute;
  top: 0.5rem;
  padding: 2.75rem 0.5rem 0.75rem;
  z-index: 1;
  width: 100%;
}

.dropdown button {
  font-size: 0.875rem;
  margin-right: 0.5rem;
  /* background: var(--gray); */
}

/* button group */
.buttonGroup {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 2.75rem;
  background: var(--dark-gray);
  padding: 0 0.25rem;
  border-radius: 10px;
  border: none;
  z-index: 0;
}

.buttonGroup button {
  color: var(--white);
  background: none;
  border: none;
  height: 2rem;
  margin: 0.25rem;
  z-index: 2;
  padding: 0.0625rem 0.375rem; /* padding declared bc bug on webkit*/
}

.buttonBackground {
  position: absolute;
  height: 1.75rem;
  width: 2.75rem;
  background: var(--primary);
  border-radius: 5px;
  z-index: 1;
  transition: left 0.15s;
}

.buttonBackground.map {
  top: 0.5rem;
  left: 0.45rem;
}
.buttonBackground.list {
  top: 0.5rem;
  left: 3.5rem;
}
.buttonBackground.both {
  top: 0.5rem;
  left: 6.65rem;
}

/* large */
@media only screen and (min-width: 48em) {
  .search_bar {
    margin-right: 0;
  }
}

@media (prefers-color-scheme: light) {
  .search_bar input {
    color: var(--black);
  }

  .buttonGroup {
    background: var(--white);
    border: 1px solid var(--light-gray);
  }

  .buttonGroup button {
    color: var(--black);
  }
}
