.mapContainer {
  height: 100%;
}

.mapContainer > div {
  height: 100%;
  border-radius: var(--border-radius);
}

.activeMarkerPreviewContainer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding: 0 4rem;
}

/* marker */

/* popup */

.popup {
  color: var(--primary);
}

.popup > div {
  border: none;
}
