/* small and under */
.home {
  padding-bottom: 0;
  padding-top: 0;
  height: calc(100vh - 5rem); /* 5rem = header + top/bottom padding */
}

.home_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.home_content_mapCard {
  margin: 0;
}

.home_content_jobList {
  overflow-y: auto;
}

.home_content.both > .home_content_mapCard {
  display: initial;
  height: 50%;
  margin-bottom: 0.25rem;
}
.home_content.both > .home_content_jobList {
  display: initial;
  height: 50%;
  margin-top: 0.25rem;
}

.home_content.map > .home_content_mapCard {
  display: initial;
  height: 100%;
}
.home_content.map > .home_content_jobList {
  display: none;
}

.home_content.list > .home_content_mapCard {
  display: none;
}
.home_content.list > .home_content_jobList {
  display: initial;
  height: 100%;
}

/* large */
@media only screen and (min-width: 48em) {
  .home_content {
    flex-flow: row nowrap;
    height: 100%;
  }

  .home_content_mapCard {
    width: 65%;
    margin-right: 0.25rem;
  }

  .home_content_jobList {
    display: initial;
    width: 35%;
    overflow-y: auto;
    margin-left: 0.25rem;
  }

  .home_content.both > .home_content_mapCard,
  .home_content.map > .home_content_mapCard,
  .home_content.list > .home_content_mapCard,
  .home_content.both > .home_content_jobList,
  .home_content.map > .home_content_jobList,
  .home_content.list > .home_content_jobList {
    display: initial;
    height: 100%;
  }
}
