.menu-icon_top,
.menu-icon_bottom {
  width: 1.5rem;
  height: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s;
}

.menu-icon_top {
  border-top: 2px solid #fff;
}

.menu-icon_bottom {
  border-bottom: 2px solid #fff;
}

.menu-icon_top.true {
  transform: translateY(0.375rem) rotate(45deg);
}

.menu-icon_bottom.true {
  transform: translateY(-0.375rem) rotate(-45deg);
}
