:root {
  /* colors */
  --black: #000000;
  --dark-gray: #1d1d1f;
  --gray: #4a4a4b;
  --light-gray: #e2e2e2;
  --dark-white: #f5f5f7;
  --white: #ffffff;
  --primary: #0171e3;
  --primary-light: #208ffe;

  /* breakpoints */
  --small: 25em; /* 400px */
  --medium: 48em; /* 768px */
  --large: 64em; /* 1024px */
  --xlarge: 80em; /* 1280px */
  --huge: 90em; /* 1440px */
  --xhuge: 125em; /* 2000px */
}
