@import "./_variables.module.css";

html,
body {
  color-scheme: dark;
  color: var(--white);
  background: var(--black);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  margin-bottom: 0.5rem;
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
}

h4 {
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  color: var(--light-gray);
}

p {
  font-size: 0.875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

ul {
  padding-left: 1.25rem;
}

label {
  font-size: 0.75rem;
  display: none;
}

select,
option,
textarea {
  background: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  padding: 0 0 0 0.5rem;
}

form * {
  margin: 0.125rem 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
