.company-location-card {
  padding: 1rem;
  margin-bottom: 1rem;
  background: var(--gray);
  border-radius: var(--border-radius);
}

.company-location-card__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.company-location-card__header__company-logo {
  margin-right: 0.5rem;
  border-radius: 5px;
}

.company-location-card__job {
  margin-top: 0.5rem;
}

.company-location-card__job__info {
  display: flex;
}

.company-location-card__job__info__item {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.company-location-card__job__info__item svg {
  margin-right: 0.25rem;
  color: var(--light-gray);
}
